
<form action="/books/table_with_books/" method="get">
	<br>
    <label for="name_book">Название книги: </label>
    <input id="name_book" type="text" name="name_book" value="">
	</br>
	<br>
    <label for="author">Автор: </label>
    <input id="author" type="text" name="author" value="">
    </br>
    <br>
    <label for="classic">Класс: </label>
    <input id="classic" type="text" name="classic" value="">
	</br>
	<br>
    <label for="num_izd">Номер издания: </label>
    <input id="num_izd" type="text" name="num_izd" value="">
	</br>
	<br>
    <label for="name_izd">Название издания: </label>
    <input id="name_izd" type="text" name="name_izd" value="">
	</br>
	<br>
    <label for="quantity">Количество: </label>
    <input id="quantity" type="text" name="quantity" value="">
	</br>
	<br>
    <input type="submit" value="Добавить">
	</br>
</form>