{% extends "base.html" %}

{% block content %}
<h1  style="color:white;" align = "center">Books</h1>
{% for book in books %}
    <div style="margin: 20px;">
    	<div class="alert alert-info" role="alert">
    	    <div style="font-family: Georgia, Serif">
    		Название: {{ book.name }} <br/>    		
            Автор: {{ book.author }}  <br/> 
    		Класс: {{ book.clas }}  <br/>
    		Номер издания: {{ book.num_izd }}  <br/>
    		Название издания: {{ book.name_izd }} <br/>
            ID: {{ book.id }}<br/>
            <a href="/books/qr-code/{{book.id}}">Подробнее</a>
            </div>
    	</div>
    </div>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}

{% endblock %}
