{% extends "base.html" %}
<style>
  body {background-size: contain;}
</style>
{% block content %}
<h1  style="color:white;" align = "center">Книги</h1>
<form action="{% url 'books_search' %}" method="GET">
    <input style="border-radius: 20px;" type="text" name="q"/>
    <button style="border-radius: 20px; background-color: yellow; font-size: 1.3em;" type="submit">Поиск по названию или автору книги</button>
</form>

{% include "results_search.html" %}

{% for place in books %}
    <div style="margin: 20px;">
    	<div class="alert alert-info" role="alert" style="width: 400px">
    	    <div style="color:black; font-family: Georgia, Arial">
            ID:{{place.id}}<br/>
            ISBN-код: {{place.quantity}}<br/>
    		Название: {{ place.name }} <br/>    		
            Автор: {{ place.author }}  <br/> 
    		Класс: {{ place.clas }}  <br/>
    		Номер издания: {{ place.num_izd }}  <br/>
    		Название издания: {{ place.name_izd }} <br/>
            Выдана книга: {{place.status}}</br>
            Вид книги: {{place.options}} </br>
            <a style="border-radius: 20px;" href="/books/qr-code/{{place.id}}">Подробнее</a>
            </div>
    	</div>
    </div>
{% empty %}
    <h1 style='color:white;'>В библиотеке нет таких книг</h1>
{% endfor %}

{% endblock %}
