{% extends "base.html" %}
{% block content %}
{% if request.user.is_superuser %}
<div class='alert alert-info'>
	<form method="post">
		{% csrf_token %}
    <h1>Чтобы правильно отсканировать воспользуйтесь видеоинструкцией</h1>
    <a style='color:white;'>{{ form.as_p }}</a>
      <img src="/static/media/images/gifprocess.gif"></br>
      <button name='scan' style="border-radius: 20px; background-color: yellow; font-size: 1.7em;" type = 'submit'>Сканировать</button>
    </form>
    <form method="post">
    {% csrf_token %}
    <button name='isbn_scan' style="border-radius: 20px; background-color: yellow; font-size: 2.0em;" type = 'submit'>Isbn</button>
    <h1>{{isbn_form}}</h1>
  </form>
    <h1>ID книги которую вы выдали:{{result}}</h1>
    <form action="/users/information/{{form}}">
      <input style="border-radius: 20px; background-color: #e594eb; font-size: 1.7em;" type="submit" value="Назад" />
    </form>
</div>
{% else %}
	<div class='alert alert-info'>
		<h1>К сожалению вы не обладаете правами администратора</h1>
    <form action="/users/information/{{form}}">
      <input style="border-radius: 20px; background-color: #e594eb; font-size: 1.7em;" type="submit" value="Назад" />
    </form>
	</div>
{% endif %}
{% endblock %}

