<script type="text/javascript">
var lastResFind=""; // последний удачный результат
var copy_page=""; // копия страницы в ихсодном виде
function TrimStr(s) {
     s = s.replace( /^\s+/g, '');
  return s.replace( /\s+$/g, '');
}
function FindOnPage(inputId) {//ищет текст на странице, в параметр передается ID поля для ввода
  var obj = window.document.getElementById(inputId);
  var textToFind;
  
  if (obj) {
    textToFind = TrimStr(obj.value);//обрезаем пробелы
  } else {
    alert("Введенная фраза не найдена");
    return;
  }
  if (textToFind == "") {
    alert("Вы ничего не ввели");
    return;
  }
   
  if(document.body.innerHTML.indexOf(textToFind)=="-1")
  alert("Ничего не найдено, проверьте правильность ввода!");
   
  if(copy_page.length>0)
        document.body.innerHTML=copy_page;
  else copy_page=document.body.innerHTML;
 
   
  document.body.innerHTML = document.body.innerHTML.replace(eval("/name="+lastResFind+"/gi")," ");//стираем предыдущие якори для скрола
  document.body.innerHTML = document.body.innerHTML.replace(eval("/"+textToFind+"/gi"),"<a name="+textToFind+" style='background:red'>"+textToFind+"</a>"); //Заменяем найденный текст ссылками с якорем;
  lastResFind=textToFind; // сохраняем фразу для поиска, чтобы в дальнейшем по ней стереть все ссылки
  window.location = '#'+textToFind;//перемещаем скрол к последнему найденному совпадению
 } 
</script>
{% extends "base.html" %}
{% block content %}
{% if request.user.is_superuser %}
<div class='alert alert-info'>
  <input type="text" id="text-to-find" value=""> 
  <input type="button" onclick="javascript: FindOnPage('text-to-find'); return false;" value="Искать"/>
	<form method="post">
		{% csrf_token %}
    {%for field in form%}
      <p><input type='checkbox' name='checkbox[]' value={{field.id}} >{{field}}</br></p>
    {%endfor%}
    <button style="border-radius: 20px;" href = '/' type = 'submit'>Сдать</button>
    <button name='scan' style="border-radius: 20px;" type = 'submit'>Сканировать</button>
  </form>
  <h1>ID книги котрую вы хотите сдать:{{result}}</h1>

</div>
{% else %}
	<div class='alert alert-info'>
		<h1>К сожалению вы не обладаете правами администратора</h1>
	</div>
{% endif %}
{% endblock %}

