{% extends "base1.html" %}

{% block content %}
<style>
   .center {
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fc0; /* Цвет фона */
   }
</style>
<div class="center">
  <h2>Авторизация в Школьной Библиотеке</h2>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button href = '/login/'type="submit">Зарегестрироваться</button>
    <a href = '/login/'>Войти</a>
  </form>
</div> 
{% endblock %}