{% extends "base.html" %}
{% block content %}
{% if request.user.is_superuser %}
<h1  style="color:#456765;" align = "center">Добавить новую книгу</h1>
<div class='alert alert-info'>
	<form method="post">
		{% csrf_token %}
	    {{ form.as_p }}
	    <form action="/">
	    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="font-size: 2em; margin-top: 0.3em" type = 'submit'>
	    		Добавить книгу <i class="material-icons">add</i>
	    	</button>
	</form>
	    
	</form>
</div>
{% else %}
	<div class='alert alert-info'>
		<h1>К сожалению вы не обладаете правами администратора</h1>
	</div>
{% endif %}
{% endblock %}
