{% load staticfiles %}
<body background="/static/fon.jpg"></body>
<style>
ul {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10000;
  list-style: none; 
  margin: 2em ; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  font-size: 1.5em;
  background: #456765; /*добавляем фон всему меню*/
  height: 50px; /*задаем высоту*/
  font-size: 1em;
}
a {
  border-radius: 10px;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background: #456765; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #FFFFFF; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
a:hover {
  background:#738d8b/*добавляем эффект при наведении*/
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
}
     
    
    li > ul {
        position:absolute;
        top:25px;
        display:none;   
    }
     
    /*Делаем скрытую часть видимой*/
    li:hover > ul {
        display:block; 
        width:250px;  /*Задаем ширину выпадающего меню*/      
    }
   li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }

Rerun

</style>

<ul>{% load staticfiles %}
    <li><a href="/news/">Новости <i class="material-icons">event</i></a></li>
    <li><a href="/user/cabinet/">Личный кабинет <i class="material-icons">person</i></a></li>
    <li><a href="#">Ученики <i class="material-icons">people</i></a>
        <ul>
            <li><a href="/users/list">Все ученики</a></li>
            <li><a href='/users/list-pass/'>Ученики с задолжностями</a></li>
        </ul>
    </li>

    <li><a href="#">Операциии с книгами <i class="material-icons">book</i></a>
        <ul>
            <li><a href="/books/all/">Все книги</a></li>
            <li><a href="/books/pass/">Выданные книги</a></li>
            <li><a href="/books/list/">Не выданные книги</a></li>
            <li><a href="/books/add">Добавить книгу</a></li>
            <li><a href="/books/search_losen/">Потеряна книга</a></li>
        </ul>
    </li>
    <li><a href="/library/">Как добраться до библиотеки? <i class="material-icons">map</i></a></li>
    <li><a href="/logout">Выйти из аккаунта <i class="material-icons">logout</i></a></li>
    
</ul>
