{% extends "base.html" %}
<style>
  body {background-size: contain;}
</style>
{% block content %}
<h1  style="color:white;" align = "center">Книги</h1>
<form action="{% url 'books_search' %}" method="GET">
    <input style="border-radius: 20px;" type="text" name="q"/>
    <button style="border-radius: 20px; background-color: yellow; font-size: 1.3em;" type="submit">Поиск по названию или автору книги</button>
</form>

{% include "results_search.html" %}

{% for place in books %}
    <div class="card" style="width: 400px;">
      <div class="card-body">
        <h5 class="card-title">{{ place.name }}</h5>
        <p class="card-text">
            ID:{{place.id}}<br/>
            ISBN-код:{{place.quantity}}<br/>         
            Автор: {{ place.author }}  <br/> 
            Класс: {{ place.clas }}  <br/>
            Номер издания: {{ place.num_izd }}  <br/>
            Название издания: {{ place.name_izd }} <br/>
            Выдана книга: {{place.status}}</br>
        </p>
        <a href="/books/qr-code/{{place.id}}" class="btn btn-primary">Подробнее</a>
        </br>
      </div>
    </div>
    <h2></h2>
{% empty %}
    <h1 style='color:white;'>В библиотеке нет таких книг</h1>
{% endfor %}

{% endblock %}
