{% extends "base.html" %}
{% block content %}
{% if request.user.is_superuser %}
<div class='alert alert-info' style="color: #456765">
	<form method="post">
		{% csrf_token %}
    <button name="scan" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="font-size: 2em; margin-top: 0.3em" type = 'submit'>
          Сканировать QR-код <i class="material-icons">camera</i>
      </button> 
    </form>
    <form method="post">
    {% csrf_token %}
    <h3>{{isbn_form}}</h3>
  </form>
    <h2>ID книги которую вы выдали:{{result}}</h2>
    <form action="/users/information/{{form}}">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="font-size: 2em; margin-top: 0.3em" type = 'submit'>
          Вернуться назад <i class="material-icons">undo</i>
      </button>
    </form>
</div>
{% else %}
	<div class='alert alert-info'>
		<h2>К сожалению вы не обладаете правами администратора</h2>
    <form action="/">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="font-size: 2em; margin-top: 0.3em" type = 'submit'>
          Вернуться назад <i class="material-icons">undo</i>
      </button>
    </form>
	</div>
{% endif %}
{% endblock %}
