<!DOCTYPE html>
<html >
<head>
  <h1 style="color:#456765;" align = "center">Библиотека школы №444</h1>
  <meta charset="UTF-8">
  <title>Новости</title>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  {% load staticfiles %}
  <link rel="stylesheet" href="/static//css/style.css">
</head>
{% load staticfiles %}
<body background="/static/fon.jpg">

  {% if user.is_superuser %}
  {% include "admin_menu.html" %}
  {%else%}
  {% include "user_menu.html" %}
  {% endif %}
  <h1  style="color:#456765;" align = "center">Новости</h1>
  {%for new in news_all%}
    <div class="row">
    <div class="example-2 card" >
      {% load staticfiles %}
      <div class="wrapper" style='background:"/static/newsfon.jpg" center / cover no-repeat;'>
        <div class="header">
          <div class="date">
            {{new.data_pub}}
          </div>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Администрация библиотеки</span>
            <h3 class="title"><h3 href="#">{{new.title}}</h3></h3>
            <p class="text">{{new.text_of_news}}</p>
            <a href="#" class="button"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--https://w-dog.ru/wallpapers/13/15/297387149762094.jpg!-->
  {%endfor%}
  
  
</body>
</html>
  


