{% extends "base.html" %}

{% block content %}
{% if request.user.is_superuser %}
    <h1  style="color:#456765;" align = "center">Ученики</h1>
    <form action="{% url 'users_search' %}" method="GET">
        <input style="margin-left: 1.5em;  border-color:#456765; border-radius: 10px; width: 20em" type="text" name="fename"/>
        <button style="border-radius: 10px; background-color: #46c9ba" type="submit" class="mdl-button mdl-js-button mdl-button--raised">
            Поиск по фамилии <i class="material-icons">search</i>
        </button>

        <input style="margin-left: 1.5em;  border-color:#456765; border-radius: 10px; width: 20em" type="text" name="nickname"/>
        <button style="border-radius: 10px; background-color: #46c9ba" type="submit" class="mdl-button mdl-js-button mdl-button--raised">
            Поиск по логину <i class="material-icons">search</i>
        </button>

    </form>

    {% include "results_search.html" %}

    {% for place in object_list %}
        <div style="margin: 20px;">
        	<div class="alert alert-info" role="alert">
        	    <div style="color:black; font-family: Georgia, Arial">
                ID: {{ place.id }}<br/>
                Логин:{{place.username}}</br>
        		Имя: {{ place.first_name }} <br/>    		
                Фамилия: {{ place.last_name }}  <br/> 
                Класс: {{ place.group.id }}</br>
                Почта: {{ place.email }}</br>
                <a style="border-radius: 20px;" href="/users/information/{{place.id}}">Войти в личный кабинет</a>

                </div>
        	</div>
        </div>
    {% empty %}
        <h1 style='color:white;'>Таких учеников нет</h1>
    {% endfor %}
{% else %}
    <div class='alert alert-info'>
        <h1>К сожалению вы не обладаете правами администратора</h1>
    </div>
{% endif %}
{% endblock %}

