{% extends "base.html" %}

{% block content %}
<div style="margin: 20px;">
    	<div class="alert alert-info" role="alert" >
    	    <div style="color:black; font-family: Georgia, Arial">
			<h1 style='text-align: center;'>Личный кабинет</h1>
			<h1>ID: {{ user.id }}</h1>
			<h1>Логин: {{ user.username}}</h1>
			<h1>Имя: {{ user.first_name }}</h1>
			<h1>Фамилия: {{ user.last_name }}</h1>
			<h1>Почта: {{ user.email }}</h1>
			<h1>Задолжностей: {{ user.userinfo.debt }}</h1>
			<h1>Выданы книги:<br/>
			{% for u in user.userinfo.hows_book.all %}
  				<a href='/books/qr-code/{{u.id}}/'>{{ u }}</a>
			{% endfor %}

{% endblock %} 