/*

Template: The Corps — Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Version:  1
Design and Developed by: potenzaglobalsolutions.com

Note: This is the file where you can add your custom styles to change the look of the
theme. But don't modify "style.css" file.

*/

/* Your custom css codes start from here: */


 